<!-- layout -->
<%- include('partials/header'); %>

<h1>Home</h1>
<p><%= homeStartingContent %> </p>

<% posts.forEach(function (post) { %>
<h1><%= post.title %></h1>
<p class="hundred-chars"><%= post.content %></p>
<a href="/post/<%= post.title %>">Read More </a>
<% }); %>

<!-- layout -->
<%- include('partials/footer'); %>